<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        // const arr = [10, 20, 30, 40,]
        // var sum = 0;
        // for (let i = 0; i < arr.length; i++) {
        //     sum += arr[i]
        //     console.log(sum);
        // }

        // var arr1 = ["red", "orange", 32, 45, "hello everybody", 56, "green", "pink"]
        // var [a, b, c, d, ...rest] = arr1
        // console.log(rest);

        // const arr = [10, 20, 30, 40, 50, 60, 70]
        // const [a, b, c, d] = arr
        // console.log(a)


        // const arr1 = {
        //     name: "sathish",
        //     sub: "software"
        // }

        // console.log(arr1.name)
        // console.log(arr1.sub)
        // console.log(arr1)





    </script>
</body>

</html> -->

<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <style>
        div:first-child div {
            border: 1px solid red;
            width: 300px;
            height: 300px;
        }

        div:first-child div div div {
            border: 1px solid green;
            width: 200px;
            height: 200px;
        }

        div:first-child div div {
            border: 1px solid black;
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
    <div>
        <div id="elementcolor">
            <div>
                <div>

                </div>
            </div>
        </div>

    </div>

    <div>
    </div>
    <div>

    </div>

    <button onclick='Chnage()'>click</button>


</body>
<script>
    function Chnage() {
        let val = document.getElementById('elementcolor')
        val.style.backgroundColor = 'red'
    }
</script>

</html>