<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div:first-child{
            border: 10px solid red;
            height: 300px;
            width: 300px;
            border-radius: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
         
        }
        div:first-child div{
            border: 10px solid red;
            height: 200px;
            width: 200px;
            border-radius: 200px;
        }
    </style>
</head>
<body>
    <div>
        <div>

           
        </div>
       
    </div>
    <div>
        <img src="C:\Users\STPL\Desktop\marguerite.webp" alt="dinosar" width="500px" height="300px">
    </div>

</body>
</html>