<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="change">indraja</div>

    <button onclick="changetext()">submit</button>


    <script>

        const changetext = () => {
            let element = document.getElementById("change")
            element.style.cssText = `text-align: center; color: red; background-color:blue`;
            console.log()
        }

    </script>


</body>

</html>