<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="nama1" type="text" value="">
    <button  onclick="add()">showinput</button>
    <h1 id="nama2">sathish</h1>
    <script>
        function add(){
       let x= document.getElementById("nama1").value
       document.getElementById("nama2").innerHTML=x
        }
    </script>
</body>
</html>