<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .text1 {
            column-count: 3;
            column-gap: 40px;
        }
    </style>
</head>

<body>
    <div class="text1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae unde porro at quam, quisquam
            error ad quaerat fugiat veniam rem ducimus fuga eligendi quae. Tempore voluptatibus facere quasi
            reprehenderit? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis deserunt expedita praesentium
            soluta dolorum cum totam optio molestias. Recusandae, dolorem? Ipsam nobis similique omnis unde accusamus
            quos sunt aliquam molestias.</p>
    </div>

    <!-- <p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe, perferendis id repellat
        reiciendis sunt
        ratione rerum aspernatur doloremque ullam, ipsum culpa dolor error quam fugiat eligendi. A, alias itaque.</p> -->
</body>

</html>