<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .nama1 {
            border-left: 500px solid transparent;
            border-right: 500px solid transparent;
            border-bottom: 300px solid wheat;
            height: 0px;
            width: 0px;
        }
    </style>
</head>

<body>
    <div class="nama1">

        <img src="../../Images/krish.gif" alt="krish" height="400px">
    </div>
    <div>
        <img src="../../Images/Dinyosar.jpeg" alt="dinosar" height="200px">

    </div>
</body>

</html>