<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            text-align: center;
        }

        div {
            padding: 15px;
            margin: 15px;
            color: whitesmoke;
            font-family: Arial, Helvetica, sans-serif;
            box-shadow: 0 0 10px black;
            width: 300px;
            display: inline-block;

        }
    </style>
</head>

<body>

    <div style="background-color: green;">
        <h1>Html </h1>
        <p>Lorem ipsum dolor,<b>sit amet consectetur adipisicing elit. Dolorum molestias, obcaecati, doloremque,
            provident</b>
            sed cumque officia laborum quos in necessitatibus rem? Unde, beatae. Quae, harum doloribus! Facere neque
            nihil corrupti?</p>
    </div>
    <div style="background-color: rgba(199, 40, 119, 0.829);">
        <h1>css</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum molestias, obcaecati, doloremque,
            provident
            sed cumque officia laborum quos in necessitatibus rem? Unde, beatae. Quae, harum doloribus! Facere neque
            nihil corrupti?</p>
    </div>
    <div style="background-color: rgb(17, 0, 255);">
        <h1>Javascript</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum molestias, obcaecati, doloremque,
            provident
            sed cumque officia laborum quos in necessitatibus rem? Unde, beatae. Quae, harum doloribus! Facere neque
            nihil corrupti?</p>
    </div>
    <div>
        <h1><span style="color: red;">Good</span> <span style="color: blue;">Morning</span></h1>
    </div>
    <div>
        <h1>
            <span style="color: red;">S</span>
            <span style="color: blue;">A</span>
            <span style="color: pink;">T</span>
            <span style="color: yellow;">H</span>
            <span style="color:orange;">I</span>
        </h1>
        <p style="color: black; background-color:aqua">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus
            soluta iste, esse nobis
            dolorum accusamus
            adipisci alias doloribus, aspernatur labore ex temporibus consectetur amet fugit exercitationem quo
            officiis, facere animi.</p>
    </div>

</body>

</html>